* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: #393939;
}

*:focus,
button:focus {
    outline: none;
}

p {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*--------------------Header top area------------------*/
.header-top-area {
    background-color: rgb(226, 226, 226);
}

/*--------------------languages change--------------------*/

.languages-div {
    cursor: pointer;
    position: relative;
}

.language > div {
    padding: 8px 5px;
    display: flex;
    align-items: center;
}

.language > div > p {
    padding: 0 10px 0 5px;
}

.language:hover p {
    color: #f07c29;
    transition: 0.3s;
}
.language:hover i {
    color: #f07c29;
    transition: 0.3s;
}

.languages-div .image {
    width: 18px;
    height: 12px;
}

.languages-box {
    width: fit-content;
    position: absolute;
    top: 100%;
    box-shadow: 2px 2px 10px #d1d1d1;
    display: none;
    padding: 0 10px 0 5px;
    z-index: 10;
    background-color: white;
}

@keyframes languages-box {
    0% {
        top: 0;
    }
    100% {
        top: 100%;
    }
}

.languages-box > .language:first-child {
    display: none;
}

/*----------------------My Account and Sign In---------------------*/

.top-right-corner {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 12px 0;
}

.my-account {
    padding-right: 15px;
    cursor: pointer;
    border-right: 1px solid grey;
}

.my-account p,
.sign-in p,
.checkout p {
    color: #333;
}

.sign-in {
    border-left: 1px solid grey;
    cursor: pointer;
    padding-left: 15px;
}

.checkout {
    padding: 0 15px;
}

.my-account:hover p,
.sign-in:hover p,
.checkout:hover p {
    color: #f07c29;
    transition: 0.3s;
    text-decoration: none;
}

/* Header mid area*/

.header-mid-area {
    margin: 40px 0;
    background-color: #fff;
    z-index: 5;
}

.search-form {
    display: flex;
    margin-top: 5px;
    width: 270px;
    height: 40px;
}

.search-form > input {
    border: none;
    background-color: #ededed;
    width: 83%;
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}

.search-link {
    width: 17%;
    background-color: #f07c29;
    border-radius: 0 5px 5px 0;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.search-link i {
    color: white;
}

.search-link:hover {
    background-color: black;
}

.my-cart-count {
    font-weight: 700;
    color: #444444;
    display: flex;
    justify-content: center;
}

.my-cart-count > div {
    position: relative;
}

.my-cart-sub {
    display: flex;
    right: 0;
    cursor: pointer;
}

.my-cart p {
    font-size: 16px;
    line-height: 60px;
    transition: 0.3s;
}

.my-count {
    margin-right: 23px;
    position: relative;
}

.my-cart-sub:hover p,
.my-cart-sub:hover i {
    color: #f07c29;
}

.my-cart-count i {
    font-size: 40px;
    transition: 0.3s;
}

.count {
    position: absolute;
    background-color: #f07c29;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    height: 30px;
    width: 30px;
    text-align: center;
    top: 24px;
    line-height: 30px;
    left: 20px;
    font-weight: 500;
}

.mini-cart-sub {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: 280px;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    z-index: 10010;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
    top: 110%;
    visibility: hidden;
}

.my-cart-count > div:hover .mini-cart-sub {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.single-cart {
    display: flex;
}

.cart-img {
    flex: 0 0 65px;
    cursor: pointer;
}

.cart-img img {
    width: 100%;
    height: auto;
}

.cart-info {
    margin-left: 20px;
}

.cart-info > h5 {
    text-transform: capitalize;
    color: #666;
    font-family: Rufina;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.cart-info > h5:hover {
    color: #f07c29;
}

.cart-info > p {
    color: #666;
    font-family: Rufina;
    font-size: 15px;
    font-weight: 400;
}

.cart-icon {
    display: flex;
    justify-content: flex-end;
    flex-grow: 100;
}

.cart-icon i {
    font-size: 15px;
    color: #232323;
    transition: 0.3s;
    cursor: pointer;
    transition: 0.3s;
}

.cart-icon i:hover {
    color: #f07c29;
}

.cart-totals {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.cart-totals h5,
.cart-totals p {
    font-family: Rufina;
    font-size: 15px;
    text-transform: uppercase;
    color: #606060;
    font-weight: 400;
}

.cart-button {
    background-color: #606060;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.cart-button p {
    color: #fff;
    text-transform: uppercase;
    font-family: Rufina;
    font-size: 12px;
    transition: 0.3s;
    text-decoration: none;
}

.cart-button:hover p {
    color: #f07c29;
}

.checkout-button {
    background-color: #606060;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.checkout-button p {
    color: #fff;
    text-transform: uppercase;
    font-family: Rufina;
    font-size: 12px;
    transition: 0.3s;
    text-decoration: none;
}

.checkout-button:hover p {
    color: #f07c29;
}

/* menu */

.menu-area {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.menu-area > div {
    background-color: black;
}

.menu {
    display: flex;
}

.menu-items {
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.menu-items-sub {
    display: flex;
    padding: 15px 25px;
}

.menu-items-sub > p {
    font-size: 16px;
    font-weight: 700;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.menu-items-sub > i {
    padding-left: 5px;
    color: white;
    font-size: 17px;
    line-height: 21px;
}

.menu-items:hover,
.active-menu-item {
    background-color: #f07c29;
    margin-top: -8px;
    margin-bottom: 0;
    transition: 0.5s;
    padding-top: 8px;
}

.menu-items::after,
.active-menu-item::after {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    right: -8px;
    top: 0px;
    border-bottom-color: #a74600;
    border-left-color: #a74600;
    z-index: -1;
}

.submenu {
    padding: 10px 20px;
    position: absolute;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 0;
    background-color: white;
    width: max-content;
    transform-origin: 0 0 0;
    transform: scaleY(0);
    transition: 0.3s;
}

.submenu > div {
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    transition: 0.3s;
}

.submenu > div:hover {
    color: #f07c29;
}

.books:hover .submenu {
    transform: scaleY(1);
}

.ebooks:hover .submenu {
    transform: scaleY(1);
}

.audiobooks:hover .submenu {
    transform: scaleY(1);
}

.blog:hover .submenu {
    transform: scaleY(1);
}

.gift:hover .submenu {
    transform: scaleY(1);
}

.sale:hover .submenu {
    transform: scaleY(1);
}

/*--------------------------------mobile-menu-----------------------------*/

.mobile-menu-area {
    display: none;
    width: 100%;
    background-color: #262626;
}

.mobile-menu {
    width: 100%;
}

.mean-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 3px;
}

.mean-bar p {
    text-transform: uppercase;
    color: white;
    font-size: 21px;
}

.menu-hamburger {
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 22px;
    height: 3px;
    background-color: #fff;
    margin: 3px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2px, 7px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-1px, -7px);
    transform: rotate(45deg) translate(-3px, -4px);
}

.mean-nav {
    display: none;
    background-color: #0c1923;
    padding-top: 10px;
}

.menu-hamburger-nav {
    overflow-y: auto;
    height: 265px;
}

.menu-items-mobile {
    background-color: #f8f8f8;
    border-top: 1px solid rgba(160, 160, 160, 0.4);
}

.menu-items-mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    cursor: pointer;
}

.menu-items-mobile-nav p {
    font-size: 12px;
    font-weight: 700;
    color: #666666;
    transition: 0.3s;
}

.menu-items-toggle {
    font-size: 16px !important;
    font-weight: bold !important;
    cursor: pointer;
    height: 13px;
    line-height: 9px;
}

.menu-items-toggle::after {
    content: "+";
}

.menu-items-toggle-close {
    font-size: 16px !important;
    font-weight: bold !important;
    cursor: pointer;
    height: 13px;
    line-height: 9px;
}

.menu-items-toggle-close::after {
    content: "-";
}

.menu-items-mobile-nav:hover p,
.menu-items-mobile-nav span:hover {
    color: #f07c29;
}

.submenu-mobile {
    display: none;
}

.submenu-mobile > div {
    background-color: #f8f8f8;
    font-size: 12px;
    border-top: 1px solid rgba(160, 160, 160, 0.4);
    padding: 10px 70px;
    color: rgb(124, 124, 124);
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.submenu-mobile > div:hover {
    color: #f07c29;
}

/*-------------------------banner area--------------------*/

.banner-area {
    padding: 30px 0 40px;
    background-color: #fff;
}

.banner {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.banner > div {
    display: flex;
    align-items: center;
}

.banner > div > div {
    padding-left: 10px;
}

.banner > div > img {
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.banner > div > div > h4 {
    font-size: 15px;
    color: #222;
}

.banner > div > div > p {
    font-size: 13px;
    color: #222;
}

/*--------------------------slider items-----------------------*/

.slider-area {
    position: relative;
    z-index: 6;
}

.slider-area .owl-carousel-1 .item-slide {
    height: 600px;
}

.slider-area .owl-carousel-1 .item-slide img {
    height: 100%;
    object-fit: cover;
}

/*--------------------dots-------------------*/

.slider-area .owl-slider .owl-dots {
    outline: none;
    border: none;
    opacity: 0;
    transition: all 0.15s linear;
}

.slider-area:hover .owl-slider .owl-dots {
    opacity: 1;
}

.slider-area .owl-slider .owl-dots .owl-dot span {
    background: #fff none repeat scroll 0 0;
    border-radius: 50px;
    display: block;
    height: 10px;
    margin: 5px;
    transition: all 0.3s ease 0s;
    width: 10px;
    outline: none;
    border: none;
}

.slider-area .owl-slider .owl-dots .owl-dot.active span {
    width: 32px;
    background: #f07c29 none repeat scroll 0 0;
}

.slider-area .owl-slider .owl-dot:not(.active):hover span {
    background-color: white;
}

/* ---------------nav------------- */
.slider-area .owl-slider .owl-nav [class*="owl-"] {
    outline: none;
    border: none;
}

.slider-area .owl-slider .owl-nav [class*="owl-"]:hover {
    background-color: unset;
}

.slider-area .owl-slider .owl-nav span {
    color: white;
    transition: all 0.3s linear;
    opacity: 0;
}

.slider-area:hover .owl-slider .owl-nav span {
    opacity: 1;
}

.slider-area .owl-slider .owl-nav span:hover {
    color: #f07c29;
}

.slider-area .owl-prev,
.slider-area .owl-next {
    position: absolute;
    top: 50%;
    transform: scale(8);
}

.slider-area .owl-prev {
    left: 30px;
}

.slider-area .owl-next {
    right: 30px;
}

.slider-area .owl-slider .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50px);
}

.slider-area .slider-active.owl-carousel-1 .owl-dots .owl-dot.active span {
    background: #f07c29;
    width: 32px;
}

.slider-area .animation {
    position: absolute;
    right: 200px;
    top: 125px;
    z-index: 1;
    text-align: center;
}

.slider-area .animation > p {
    color: white;
    font-size: 80px;
    font-family: "Rufina", serif;
    font-weight: 400;
    animation-name: slide-animation;
    animation-duration: 1s;
    animation-delay: 0.5s;
    transform: translateX(600px);
    opacity: 0;
    animation-fill-mode: forwards;
    z-index: 6;
}

@keyframes slide-animation {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slider-area .animation > button {
    background: #f07c29;
    border: 2px solid #d6681b;
    border-radius: 4px;
    color: white;
    font-family: "Rufina", serif;
    font-size: 24px;
    padding: 10px 38px;
    margin-top: 43px;
    box-shadow: 2px 2px 2px 2px #4e3333;
    animation-name: slide-animation-button;
    animation-duration: 1s;
    animation-delay: 1.4s;
    transform: translateY(-1100px);
    animation-fill-mode: forwards;
}

@keyframes slide-animation-button {
    0% {
        opacity: 0;
        transform: translateY(-3000px);
    }
    50% {
        opacity: 0;
        transform: translateY(-300px);
    }
    51% {
        opacity: 1;
        transform: translateY(-230px);
    }
    60% {
        transform: translateY(25px);
    }
    75% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.slider-area .animation > button:hover {
    background-color: #333;
    border: 2px solid #333;
    transition: 300ms;
}

/*----------------product area----------------*/

.area {
    margin-top: 100px;
}

.section-product {
    text-align: center;
}

.section-head {
    margin: 70px 0 50px;
}

.section-product > div > h1 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 32px;
}

.section-product > div > p {
    font-family: "Rufina", serif;
    color: #333;
    font-size: 16px;
    letter-spacing: 1px;
}

.section-product .product-menu {
    display: flex;
    justify-content: center;
}

.section-product .product-menu > div {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    margin-right: 35px;
}

.section-product .product-menu > div::before {
    content: "";
    position: absolute;
    background: #f07c29;
    height: 2px;
    transition: all 0.5s;
    width: 100%;
    bottom: -10px;
    opacity: 0;
}

.section-product .product-menu > div:hover::before,
.section-product div.active::before {
    opacity: 1;
    bottom: -2px;
}

/*---------------------tab-content---------------------*/

.tab-content .owl-product {
    margin-top: 50px;
    position: relative;
}

.tab-content .owl-product.owl-carousel-2 button {
    background-color: #f6f6f6;
    border-radius: 4px;
    opacity: 0;
    transition: all 0.3s linear;
}

.tab-content .owl-product .owl-prev,
.tab-content .owl-product .owl-next {
    position: absolute;
    bottom: 170px;
    width: 69px;
    height: 69px;
}

.tab-content .owl-product .owl-next {
    right: 0;
}

.tab-content .owl-product .owl-prev {
    left: 0;
}

.tab-content .owl-product .owl-nav span {
    transition: all 0.3s linear;
    border-radius: 4px;
    color: #666;
    font-size: 70px;
    width: 100px;
    height: 100%;
    position: relative;
    top: -26px;
}

.tab-content .owl-product:hover .owl-prev {
    opacity: 1;
    transform: translateX(-15px);
}

.tab-content .owl-product:hover .owl-next {
    opacity: 1;
    transform: translateX(15px);
}

.tab-content .owl-product button:hover {
    background-color: #f07c29;
}

.tab-content .owl-product button:hover span {
    color: #fff;
}

.product-wrapper {
    position: relative;
}

.item-book {
    position: relative;
    box-shadow: 0 15px 15px -15px grey;
    margin-bottom: 20px;
}

.item-book::after {
    background: rgba(255, 255, 255, 0.61);
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    cursor: pointer;
}

.product-wrapper:hover .item-book::after {
    height: 100%;
}

.quick-view {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.5s ease 0s;
    opacity: 0;
    cursor: pointer;
}

.product-wrapper:hover .quick-view {
    opacity: 1;
}

.action-view {
    background-color: #f07c29;
    border-radius: 50px;
    display: inline-block;
    font-size: 22px;
    height: 61px;
    line-height: 61px;
    width: 61px;
    transform: scale(0);
    transition: all 0.5s ease 0s;
}

.product-wrapper:hover .action-view {
    transform: scale(1);
}

.fa-search-plus {
    font-size: 22px;
    color: #fff;
}

.product-flag {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.product-flag .sale {
    background-color: #f07c29;
    color: white;
    font-size: 12px;
    padding: 0 6px;
    position: relative;
}

.product-flag .sale::before {
    content: "";
    border-color: #f07c29 transparent transparent #f07c29;
    border-style: solid;
    border-width: 4.5px 3px;
    position: absolute;
    right: -6px;
    top: 0;
}

.product-flag .sale::after {
    content: "";
    border-color: transparent transparent #f07c29 #f07c29;
    border-style: solid;
    border-width: 4.5px 3px;
    position: absolute;
    right: -6px;
    bottom: 0;
}

.discount-percentage {
    background-color: #eeb900;
    color: white;
    font-size: 12px;
    padding: 0 6px;
    position: relative;
    width: max-content;
}

.discount-percentage::before {
    content: "";
    border-color: #eeb900 transparent transparent #eeb900;
    border-style: solid;
    border-width: 4.5px 3px;
    position: absolute;
    right: -6px;
    top: 0;
}

.discount-percentage::after {
    content: "";
    border-color: transparent transparent #eeb900 #eeb900;
    border-style: solid;
    border-width: 4.5px 3px;
    position: absolute;
    right: -6px;
    bottom: 0;
}

.product-rating > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
}

.product-rating > ul > li {
    padding: 3px;
    cursor: pointer;
}

.product-rating ul li .fa-star {
    color: #f07c29;
    font-size: 12px;
}

.product-name {
    padding-bottom: 10px;
    padding-top: 10px;
}

.product-name > p {
    font-family: "Rufina", serif;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
}

.product-name:hover p {
    color: #f07c29;
}

.product-price {
    padding-bottom: 10px;
}

.product-price p {
    text-align: center;
    color: #f07c29;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    font-family: "Rufina", serif;
}

.product-link {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 0.5s;
    padding-bottom: 8px;
    opacity: 0;
    background-color: white;
}

.product-link::after {
    content: "";
    position: absolute;
    transition: 0.5s;
    background: #cccccc;
    bottom: 0;
    height: 1px;
    left: 50%;
    opacity: 1;
    width: 0;
    right: 50%;
}

.product-wrapper:hover .product-link::after {
    width: 100%;
    left: 0;
    right: 0;
}

.product-wrapper:hover .product-link {
    opacity: 1;
}

.product-link p {
    font-size: 16px;
    text-transform: capitalize;
    font-family: "Rufina", serif;
    color: #333;
}

.product-link i {
    padding-top: 5px;
    padding-right: 8px;
    color: #333;
    font-size: 16px;
}

.product-button {
    display: flex;
    transform: scale(0.6);
    transition: 0.3s;
    cursor: pointer;
}

.product-button:hover i,
.product-button:hover p {
    color: #f07c29;
}

.product-wrapper:hover .product-button {
    transform: scale(1);
}

.add-to-link {
    transform: scale(0.6);
    transition: 0.3s;
    cursor: pointer;
}

.add-to-link:hover i {
    color: #f07c29;
}

.product-wrapper:hover .add-to-link {
    transform: scale(1);
}

/*---------------banner-area-5-------------*/

.banner-area-5 {
    margin: 95px 0;
}

.banner-general {
    position: relative;
}

.banner-general:hover .banner-image img {
    transform: scale(1.1);
}

.banner-general .banner-image {
    overflow: hidden;
    border-radius: 3px;
}

.banner-general .banner-image img {
    width: 100%;
    transform: scale(1);
    transition: 0.5s;
}

.banner-general .banner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 5%;
}

.banner-general .banner-text h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
}

.banner-general .banner-text h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    margin-left: 180px;
    font-family: "Open Sans", sans-serif;
}

/*-----------------------------bestseller area----------------------*/
.bestseller-area {
    margin-bottom: 100px;
}
.bestseller-row {
    display: flex;
    width: 70%;
}

.bestseller-content {
    width: 50%;
    height: fit-content;
}

.bestseller-content > h4 {
    margin-bottom: 70px;
    color: black;
    font-size: 18px;
}

.bestseller-content h1 {
    text-align: right;
    color: #f07c29;
    font-family: "Rufina", serif;
    font-size: 70px;
    line-height: 70px;
}

.bestseller-content .categories {
    font-weight: 400;
    font-size: 15px;
    margin: 20px 0;
    text-align: right;
    color: #333;
}

.bestseller-content p {
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    font-family: "Rufina", serif;
    margin-top: 35px;
    color: #333;
}

.bestseller-content .social-author {
    text-align: right;
    margin-top: 30px;
}

.bestseller-content .social-author i {
    background-color: #777;
    border-radius: 50%;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 37px;
    height: 37;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.bestseller-content .social-author i:hover {
    background-color: #f07c29;
}

.banner-img {
    overflow: hidden;
    border-radius: 3px;
    width: 50%;
    position: relative;
    margin: 0 30px;
    height: fit-content;
}

.banner-img img {
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
    height: auto;
}

.banner-img:hover img {
    transform: scale(1.1);
}

.owl-carousel-3 {
    width: 30%;
}

.bestseller-img {
    box-shadow: 0 15px 15px -15px grey;
}

.bestseller-img img {
    cursor: pointer;
}

.bestseller-flag {
    position: relative;
}

.bestseller-text {
    margin: 30px 0;
    text-align: center;
}

.bestseller-text p {
    font-size: 16px;
    font-family: "Rufina", serif;
    font-weight: 700;
    color: #333333;
    margin-bottom: 5px;
    cursor: pointer;
}

.bestseller-text p:hover {
    color: #f07c29;
}

.bestseller-total .price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bestseller-total .price span {
    font-family: "Rufina", serif;
    font-weight: 600;
    font-style: italic;
}

.bestseller-total .price .new-price {
    font-size: 16px;
    color: #f07c29;
}

.bestseller-total .price .old-price {
    font-size: 13px;
    color: #909090;
    text-decoration: line-through;
    margin-left: 5px;
}

.owl-carousel-3 .owl-nav button {
    width: 69px;
    height: 69px;
    border-radius: 4px;
    background-color: #f6f6f6 !important;
    transition: all 0.3s linear;
    position: absolute;
    top: 45%;
    opacity: 0;
    transform: translateY(-50%);
}

.owl-carousel-3 .owl-nav button.owl-prev {
    left: 10px;
}

.owl-carousel-3 .owl-nav button.owl-next {
    left: auto;
    right: 10px;
}

.owl-carousel-3 .owl-nav button:hover {
    background-color: #f07c29 !important;
}

.owl-carousel-3 .owl-nav button span {
    font-size: 70px;
    color: #666;
    width: 100%;
    height: 100%;
    position: relative;
    top: -26px;
    transition: all 0.3s linear;
}

.owl-carousel-3 .owl-nav button:hover span {
    color: white;
}

.owl-carousel-3:hover .owl-nav button {
    opacity: 1;
}

.owl-carousel-3:hover .owl-nav button.owl-prev {
    left: -40px;
}

.owl-carousel-3:hover .owl-nav button.owl-next {
    right: -40px;
}

/*-----------------banner-static-area---------------*/

.banner-static-area {
    background: url(./images/banner-area/2.jpg) repeat scroll center center;
    height: auto;
    padding: 100px 0;
}

.banner-shadow {
    display: flex;
}

.banner-shadow-hover {
    position: relative;
    cursor: pointer;
    width: 50%;
}

.banner-shadow-hover:first-child {
    margin-right: 15px;
}

.banner-shadow-hover:last-child {
    margin-left: 15px;
}

.banner-shadow-hover::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 300ms ease-in 0s;
}

.banner-shadow-hover:hover::after {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.7) inset;
    transition: all 300ms ease-in 0s;
}

.banner-shadow-hover > img {
    max-width: 100%;
    height: auto;
}

.banner-book {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
}

.banner-book > img {
    width: 65%;
    object-fit: cover;
}

.banner-book-text {
    text-align: right;
    position: absolute;
    right: 5px;
}

.banner-book-text > p {
    color: rgb(119, 119, 119);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}

.banner-book-text > h1 {
    font-family: "Rufina", serif;
    font-size: 37px;
    line-height: 30px;
    margin-top: 5px;
}

.banner-book-price {
    display: flex;
    margin-top: 40px;
}

.banner-book-price .book-price p {
    color: #909090;
    font-family: "Rufina", serif;
    font-size: 18px;
    text-decoration: line-through;
    font-weight: 600;
    font-style: italic;
}

.banner-book-price .book-price h3 {
    color: #f07c29;
    font-family: "Rufina", serif;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
}

.banner-book-price .book-sale {
    background-color: rgb(255, 195, 31);
    border-radius: 4px;
    margin: 5px 0 0 10px;
}

.banner-book-price .book-sale > p {
    color: white;
    font-size: 25px;
    font-family: "Rufina", serif;
    padding: 4px;
}

.banner-book-shop-now {
    margin-top: 100px;
}
.banner-book-shop-now > p {
    text-decoration: underline;
    color: #9e9d9d;
    font-family: "Rufina", serif;
    font-size: 20px;
}

/*----------------------most-product-area----------------------*/

.most-product-area {
    margin-top: 100px;
}

.product-row {
    display: flex;
    width: 77%;
}

.section-product-area {
    width: 33%;
    padding-right: 35px;
}

.single-product {
    display: flex;
}

.section-title {
    text-align: left;
    margin-bottom: 40px;
}

.section-title > h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.single-product {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 18px;
    padding-bottom: 18px;
}

.single-product:last-child {
    border-bottom: none;
}

.single-product-img {
    width: 30%;
    position: relative;
}

.single-product-img::after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.61);
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    cursor: pointer;
    height: 0;
}

.single-product:hover .single-product-img::after {
    height: 100%;
}

.single-product-content {
    width: 70%;
    padding-left: 20px;
}

.single-product-content > .most-product-name > p {
    font-weight: 400;
    font-size: 16px;
    color: rgb(90, 90, 90);
    font-family: "Open Sans", sans-serif;
}

.most-product-area .product-rating ul {
    margin: 0;
    justify-content: left;
}

.most-product-area .product-name p {
    margin: 0;
    text-align: left;
}

.most-product-area .product-price {
    display: flex;
}

.most-product-area .product-price .new-price {
    font-size: 16px;
    font-family: "Rufina", serif;
    font-style: italic;
    color: #f07c29;
    font-weight: 600;
}

.most-product-area .product-price .old-price {
    font-size: 12px;
    font-family: "Rufina", serif;
    font-style: italic;
    font-weight: 600;
    color: rgb(97, 97, 97);
    text-decoration: line-through;
    margin-left: 5px;
    line-height: 24px;
}

.most-product-area > .product-price {
    /* display: flex; */
}

.most-product-area .product-price p {
    /* margin: 0;
    font-size: 15px; */
}

.most-product-area .owl-nav button {
    background-color: #f6f6f6 !important;
    top: 40%;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 40px;
    transition: all 0.3s ease 0s;
    opacity: 0;
}

.most-product-area .owl-nav button span {
    color: #666;
    font-size: 40px;
    text-align: center;
    line-height: 22px;
}

.most-product-area .owl-nav button.owl-next {
    left: auto;
    right: 40px;
}

.owl-carousel-4:hover button {
    opacity: 1;
}

.most-product-area .owl-nav button:hover {
    background-color: #f07c29 !important;
}

.most-product-area .owl-nav button:hover span {
    color: white;
}

.owl-carousel-4:hover button.owl-prev {
    left: 0;
}
.owl-carousel-4:hover button.owl-next {
    right: 0;
}

.block-newsletter {
    background: url(./images/banner-area/5.jpg) no-repeat scroll center top;
    position: relative;
    text-align: center;
    margin-top: 60px;
    height: 100%;
    width: 23%;
}

.block-newsletter::before {
    content: "";
    background: #f07c29;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -42px;
    left: 0;
    right: 0;
}

.block-newsletter::after {
    content: "";
    position: absolute;
    border: 2px solid #f07c29;
    transform: rotate(45deg);
    top: -25px;
    width: 55px;
    height: 55px;
    left: 0;
    right: 0;
    margin: auto;
}

.block-newsletter-content {
    padding: 45px 25px 25px;
}

.block-newsletter-content h4 {
    color: white;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.1;
    font-size: 22px;
}
.block-newsletter-content p {
    color: white;
    font-family: "Rufina", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}

.block-newsletter-content > input {
    border: 1px solid rgba(255, 218, 188, 0.8);
    background-color: rgba(255, 160, 106, 0.4);
    margin-top: 20px;
    width: 100%;
    height: 35px;
    padding: 10px;
}

.block-newsletter-content > input::placeholder {
    color: white;
}

.block-newsletter-content > button {
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 25px;
}

.block-newsletter-content > button:hover {
    color: #f07c29;
    transition: 0.3s;
}

/*---------------testimonial-area----------------*/

.testimonial-area {
    background: url(./images/banner-area/6.jpg) no-repeat;
    width: 100%;
    margin-top: 50px;
}

.single-testimonial-area {
    text-align: center !important;
    padding: 100px 0 150px;
}

.quote-right {
    border: 1px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 130px;
    display: inline-block;
}

.quote-right > i {
    font-size: 50px;
    color: white;
}

.single-testimonial-content > .testimonial-quote {
    color: white;
    font-size: 21px;
    font-family: "Rufina", serif;
    margin: 41px 0 18px;
    line-height: 24px;
}

.single-testimonial-content .user-name {
    font-size: 14px;
    text-transform: capitalize;
    color: #e4e4e4;
}

.owl-carousel-5 .owl-dots button span {
    width: 10px;
    height: 10px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    margin: 5px;
}

.owl-carousel-5 .owl-dots {
    position: absolute;
    bottom: 115px;
    left: 45%;
}

.owl-carousel-5 .owl-dots .owl-dot.active span {
    background: #f07c29 none repeat scroll 0 0;
}

/*-----------------recent-post-area--------------------*/

.recent-post-area {
    margin: 100px 0;
}

.post-section {
    width: 100%;
}

.post-section-title {
    text-align: center;
    margin-bottom: 50px;
}
.post-section-title > h1 {
    font-weight: 700;
}

.single-post {
    border-bottom: 1px solid #e5e5e5;
}

.post-img {
    position: relative;
    overflow: hidden;
}

.post-img > img {
    transition: 0.5s;
}

.post-img:hover img {
    transform: scale(1.1);
    transform: 0.5s;
    cursor: pointer;
}

.blog-date-time {
    position: absolute;
    background-color: #fff;
    width: 55px;
    height: 55px;
    top: 10px;
    left: 10px;
    line-height: 25px;
    text-align: center;
    padding-top: 5px;
}

.day-time {
    font-size: 25px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #333;
}

.month-time {
    font-size: 13px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #333;
    text-transform: uppercase;
}

.post-content {
    text-align: center;
    margin-top: 20px;
}

.post-content > h3 {
    font-family: "Rufina", serif;
    font-weight: 400;
    color: #333;
    font-size: 22px;
}

.post-content > span {
    margin: 20px 0;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}

.post-content > p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding-bottom: 25px;
}

.owl-carousel-6 .owl-nav button {
    position: absolute;
    top: 40%;
    background: #f6f6f6 !important;
    width: 69px;
    height: 69px;
    border-radius: 4px;
    opacity: 0;
    transition: 0.3s;
}

.owl-carousel-6 .owl-nav button span {
    font-size: 80px;
    color: #666;
    line-height: 25px;
}

.owl-carousel-6 .owl-nav .owl-next {
    right: 0;
    left: auto;
}

.owl-carousel-6 .owl-nav button:hover {
    background: #f07c29 !important;
}

.owl-carousel-6 .owl-nav button:hover span {
    color: white;
}
.owl-carousel-6:hover .owl-nav button {
    opacity: 1;
}

.owl-carousel-6:hover .owl-nav .owl-prev {
    left: -10px;
}

.owl-carousel-6:hover .owl-nav .owl-next {
    right: -10px;
}

/*-------------------social-group-area----------------------*/

.social-group-area {
    background-color: #f6f6f6;
}

.social-group {
    width: 100%;
}

.social-group-title {
    margin-top: 50px;
}

.social-group-title h4 {
    font-weight: 700;
}

.follow-link {
    margin: 30px 0 60px;
}

.follow-link ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.follow-link ul li {
    background-color: white;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    text-align: center;
    line-height: 55px;
    margin-right: 10px;
    margin-bottom: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.follow-link ul li i {
    font-size: 18px;
    color: #333333;
}

.follow-link ul li:hover {
    background-color: #333333;
}

.follow-link ul li:hover i {
    color: white;
}

/*--------------------footer---------------------*/

footer {
    background-color: #222222;
}

.footer-area {
    width: 100%;
}

.footer-top {
    display: flex;
    border-bottom: 2px solid #393939;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-top > div {
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    border-right: 1px solid #808080;
    padding-right: 30px;
    padding-left: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-top > div:last-child {
    border: none;
}

.footer-top > div:first-child {
    padding-left: 0;
}

.footer-top > div:hover {
    color: #f07c29;
}

.footer-mid {
    display: flex;
    border-bottom: 2px solid #393939;
    padding: 50px 0;
}

.footer-mid-menu {
    display: flex;
    width: 65%;
}

.single-footer {
    border-right: 1px solid #393939;
    padding-left: 30px;
    height: fit-content;
    padding-right: 100px;
}

.single-footer:first-child {
    padding-left: 0;
}

.footer-mid h5 {
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
}

.footer-menu div {
    font-family: "Rufina", serif;
    transition: 0.5s;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    color: white;
}

.footer-menu div:hover {
    color: #f07c29;
}

.single-footer-information {
    width: 35%;
}

.footer-information p {
    color: white;
    font-size: 16px;
    font-family: "Rufina", serif;
    line-height: 30px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin: 30px 10px;
}

.footer-bottom p,
.footer-bottom p a {
    color: white;
    font-family: "Rufina", serif;
    font-size: 14px;
}

.footer-bottom img {
    cursor: pointer;
}

/*----------------scrollUp-------------*/

.scrollUp {
    border: 2px solid white;
    border-radius: 50%;
    background: #333;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 35px;
    right: 12px;
    text-align: center;
    line-height: 33px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10000;
    display: none;
}

.scrollUp i {
    color: white;
    font-size: 20px;
}

.scrollUp:hover {
    background: #f07c29;
    border-color: #f07c29;
}

/*-----------------------my-account-------------------*/

.my-account-area {
    border-bottom: 1px solid #e5e5e5;
    padding: 12px 0;
    margin-bottom: 70px;
}

.my-account-menu {
    display: flex;
}

.breadcrumbs-menu {
    color: #333;
    font-family: "Rufina", serif;
    font-size: 16px;
    padding-right: 15px;
    border-right: 1px solid grey;
    transition: 0.3s;
    cursor: pointer;
}

.breadcrumbs-menu:hover {
    color: #f07c29;
}

.breadcrumbs-menu-active {
    font-family: "Rufina", serif;
    font-size: 16px;
    color: #f07c29;
    padding-left: 15px;
}

.entry-header-area h2 {
    font-size: 35px;
    padding-bottom: 30px;
    color: #333;
    font-family: "Rufina", serif;
}

.my-account-wrapper {
    padding-bottom: 50px;
}

.my-account-tab-menu {
    width: 22%;
}

.my-account-tab-menu > div {
    border: 1px solid #efefef;
    padding: 10px 15px;
    display: flex;
    border-bottom: none;
    transition: 0.3s;
    cursor: pointer;
}

.my-account-tab-menu > div:last-child {
    border-bottom: 1px solid #efefef;
}

.my-account-tab-menu .active {
    background-color: #f07c29;
    border-color: #c29958;
}

.my-account-tab-menu .active p,
.my-account-tab-menu .active i {
    color: #fff;
}

.my-account-tab-menu > div:hover {
    background-color: #f07c29;
    border-color: #c29958;
}

.my-account-tab-menu > div:hover p,
.my-account-tab-menu > div:hover i {
    color: #fff;
}

.my-account-tab-menu > div > p {
    font-size: 15px;
    color: #222222;
    margin-left: 10px;
}

.my-account-tab-menu > div > i {
    font-size: 14px;
    line-height: 22px;
}

.my-account-tab-content {
    border: 1px solid #efefef;
    width: 83%;
    margin-left: 30px;
    height: fit-content;
}

.my-account-content {
    padding: 30px;
}

.my-account-content h4 {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

.my-account-content p {
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
}

/*-----------------------login--------------------*/

.user-login-area .container {
    display: block !important;
}

.user-login-area {
    margin-bottom: 70px;
}

.login-title {
    text-align: center;
}

.login-title h2 {
    font-family: "Rufina", serif;
    font-size: 35px;
    padding-bottom: 30px;
    color: #333;
}

.login-form {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 25px 30px;
    width: 50%;
    margin: auto;
}

.single-login {
    margin-bottom: 15px;
}

.single-login p {
    margin: 10px 0;
    color: #333;
    font-size: 15px;
    font-family: "Rufina", serif;
}

.single-login input {
    padding: 10px;
    border: 1px solid #eceff8;
    width: 100%;
}

.single-login-2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.single-login-2 a {
    color: #333;
    font-size: 15px;
    transition: 0.3s;
    font-family: "Rufina", serif;
    border: 1px solid #eceff8;
    padding: 12px 43px;
}

.single-login-2 a:hover {
    background-color: #f07c29;
    color: #fff;
    text-decoration: none;
}

.single-login-2 input {
    width: fit-content;
    margin: 0 10px;
}

.single-login-2 span {
    font-family: "Rufina", serif;
    color: #333;
    font-size: 15px;
}

.login-form > a {
    color: #f07c29;
    font-size: 14px;
}

/*----------------------books----------------------*/

.product-main-area {
    margin-bottom: 70px;
}

.books-main-content {
    width: 100%;
    display: flex;
}

.module-categories {
    width: 15%;
}

.module-title > p {
    font-size: 18px;
    font-weight: 600;
    font-family: "Rufina", serif;
    color: #333;
}

.module-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
    margin-bottom: 15px;
}

.accordion-menu > div {
    font-size: 18px;
    font-family: "Rufina", serif;
    color: #333;
    margin: 7px 0;
    cursor: pointer;
    transition: 0.3s;
}

.accordion-menu > div:hover {
    color: #f07c29;
}

.module-product {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 85%;
}

.module-product-single {
    width: 25%;
    padding: 33px 10px 0;
}

.product-details {
    margin-top: 10px;
}

.module-product-img > img {
    width: 100%;
    height: auto;
}

.module-product-name {
    padding: 15px 0;
}

.module-product-name h4 {
    font-size: 18px;
    font-family: "Rufina", serif;
    color: #333;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.module-product-name h4:hover {
    color: #f07c29;
}

.product-main-area .product-flag {
    position: absolute;
    left: 0;
    top: 0;
}

.module-product-wrapper {
    position: relative;
}

.module-product-img {
    position: relative;
}

.module-product-wrapper:hover .quick-view {
    opacity: 1;
}

.module-product-wrapper:hover .action-view {
    transform: scale(1);
}

.module-product-wrapper:hover .module-product-img::after {
    height: 100%;
}

.module-product-wrapper:hover .product-link {
    opacity: 1;
}

.module-product-img::after {
    background: rgba(255, 255, 255, 0.61);
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    cursor: pointer;
    left: 0;
}

.module-product-wrapper:hover .product-button {
    transform: scale(1);
}

.module-product-wrapper:hover .add-to-link {
    transform: scale(1);
}

.module-product .product-price {
    text-align: center;
}

.module-product .product-price > span {
    color: #f07c29;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    font-family: "Rufina", serif;
}

.module-product .product-price .old-price {
    font-size: 18px;
    color: #909090;
    text-decoration: line-through;
    margin-left: 5px;
}

/*--------------------modal fade-----------------*/

.fade.in {
    opacity: 1;
    background: rgba(54, 54, 54, 0.5);
}

.modal {
    overflow-y: hidden !important;
    z-index: 10000;
}

.modal-body {
    padding: 30px 50px;
    width: 100%;
    display: flex;
}

.modal-dialog {
    max-width: 960px;
    margin: 150px auto;
}

.modal-tab {
    width: 40%;
}

.product-details-large {
    margin: 0 10px;
}

.tab-pane > img {
    width: 100%;
    height: auto;
    box-shadow: 0 10px 8px #9c9693;
}

.modal-slide-img {
    cursor: pointer;
}

.modal-pro-content {
    margin-left: 40px;
    width: 60%;
}

.modal-pro-content h3 {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 1;
    color: #333;
    font-family: "Rufina", serif;
}

.modal-pro-content-price {
    margin-top: 20px;
}

.modal-pro-content-price > p {
    font-size: 28px;
    color: #f07c29;
    font-family: "Rufina", serif;
    font-style: italic;
    font-weight: 600;
}

.modal-pro-content > p {
    margin-top: 20px;
}

.quick-view-select {
    display: flex;
    margin-top: 20px;
}

.quick-view-select > input {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 10px;
    color: #232323;
    font-size: 15px;
    width: 65px;
    height: 49px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.quick-view-select > button {
    margin-left: 50px;
    background-color: #333;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0 30px;
    height: 49px;
    font-weight: 700;
    font-size: 14px;
    transition: 0.3s;
}

.quick-view-select > button:hover {
    background-color: #f07c29;
}

.stock-span {
    display: flex;
    margin-top: 20px;
}

.stock-span > i {
    color: #4cbb6c;
    font-size: 18px;
    line-height: 25px;
}

.stock-span > p {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
}

/*---------------------------------------------------blog---------------------------------------------*/

.product-info-area {
    display: flex;
    width: 100%;
}

.elementor-widget-wrap {
    width: 60%;
    padding-right: 20px;
}

.elementor-image {
    width: 40%;
}

.elementor-widget-wrap > h1,
.elementor-widget-wrap > h3,
.elementor-widget-wrap > p {
    font-family: "Open Sans", sans-serif;
    padding: 15px 0;
}

.elementor-widget-wrap > h1 {
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.elementor-widget-wrap > h1:hover {
    color: #f07c29;
}

.elementor-widget-wrap > h3 {
    font-size: 30px;
    border-bottom: 1px solid gray;
    padding-top: 0;
}

.elementor-widget-wrap > p {
    font-size: 15px;
}

.elementor-image > img {
    width: 100%;
    height: auto;
}

/*-------------------------------------------gift------------------------------------*/

.gift-page-content-main {
    display: flex;
    padding-top: 33px;
}

.gift-page-content {
    width: 40%;
    padding-left: 40px;
}

.gift-page-content > h1,
.gift-page-content > h3 {
    font-family: "Rufina", serif;
    margin: 5px 0;
}

.gift-page-content > h3 {
    font-style: italic;
}

.gift-page-content > select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNy43cHgiIGhlaWdodD0iNC4zcHgiIHZpZXdCb3g9IjAgMCA3LjcgNC4zIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA3LjcgNC4zIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiM5OTk5OTkiIGQ9Ik03LjEsMC4xQzYuNywwLjUsMy45LDMuMiwzLjksMy4yUzEsMC41LDAuNiwwLjFTMCwwLjcsMCwwLjdsMy45LDMuNmwzLjgtMy42QzcuNywwLjcsNy41LTAuMyw3LjEsMC4xeiIvPg0KPC9zdmc+DQo=);
    background-repeat: no-repeat;
    background-position: right 10px center;
    appearance: none;
    width: 80%;
    margin: 10px 0;
    font-family: "Rufina", serif;
}

.gift-page-content > p {
    margin-bottom: 5px;
}

.gift-page-content > input {
    padding: 10px;
    width: 55px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-family: "Rufina", serif;
}

.gift-page-content > button {
    margin-left: 50px;
    background-color: #333;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 14px;
    transition: 0.3s;
}

.gift-page-content > button:hover {
    background-color: #f07c29;
}

.image-container {
    width: 60%;
    padding-left: 40px;
}

.image-container > img {
    width: 100%;
    height: auto;
}

/*------------------------------------------creative gift------------------------------*/

.creative-gift-img {
    position: relative;
    margin-bottom: 15px;
}
.creative-gift-img > img {
    width: 100%;
}

.creative-gift-details > h6 {
    font-family: "Rufina", serif;
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    transition: 0.3s;
    text-transform: capitalize;
    text-align: center;
}

.creative-gift-details > h6:hover {
    color: #f07c29;
}

.creative-gift-details > p {
    text-align: center;
    color: #f07c29;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    font-family: "Rufina", serif;
    margin-top: 10px;
}

.creative-gift-wrapper {
    position: relative;
}

.creative-gift-wrapper:hover .quick-view {
    opacity: 1;
}

.creative-gift-wrapper:hover .action-view {
    transform: scale(1);
}

.creative-gift-img::after {
    background: rgba(255, 255, 255, 0.61);
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    cursor: pointer;
    left: 0;
}

.creative-gift-wrapper:hover .creative-gift-img::after {
    height: 100%;
}

.creative-gift-wrapper:hover .product-link {
    opacity: 1;
}

.creative-gift-wrapper:hover .product-button {
    transform: scale(1);
}

.creative-gift-wrapper:hover .add-to-link {
    transform: scale(1);
}

/*--------------------------------------checkout-----------------------------*/

.checkbox-order {
    width: 100%;
    display: flex;
}

.checkbox-form {
    width: 50%;
}

.checkbox-form > h3 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: "Rufina", serif;
}

.country-select {
    margin-bottom: 30px;
}

.country-select > label {
    color: #666;
    font-family: "Rufina", serif;
    display: block;
    font-size: 15px;
}

.checkout-area .required {
    color: #ff1111;
    font-family: "Rufina", serif;
}

.country-select > select {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    padding-left: 10px;
    font-size: 15px;
    font-family: "Rufina", serif;
}

.country-select > select option {
    font-family: "Rufina", serif;
    font-size: 15px;
}

.checkout-form-lists {
    display: flex;
}

.checkout-form-list {
    width: 50%;
}

.checkout-form-list > label {
    color: #666;
    font-family: "Rufina", serif;
    display: block;
    font-size: 15px;
}

.checkout-form-list > input {
    height: 40px;
    width: 100%;
    border: 1px solid #ddd;
    padding-left: 10px;
    font-family: "Rufina", serif;
    font-size: 15px;
    color: #333;
}

.checkout-form-list.first {
    padding-right: 15px;
    margin-bottom: 30px;
}

.checkout-form-list.second {
    padding-left: 15px;
    margin-bottom: 30px;
}

.checkout-form-company-name {
    margin-bottom: 30px;
}

.checkout-form-company-name > label {
    color: #666;
    font-family: "Rufina", serif;
    display: block;
    font-size: 15px;
}

.checkout-form-company-name > input {
    height: 40px;
    width: 100%;
    border: 1px solid #ddd;
    padding-left: 10px;
    font-family: "Rufina", serif;
    font-size: 15px;
    color: #333;
}

.checkout-form-address > label {
    color: #666;
    font-family: "Rufina", serif;
    display: block;
    font-size: 15px;
}

.checkout-form-address > input {
    height: 40px;
    width: 100%;
    border: 1px solid #ddd;
    padding-left: 10px;
    margin-bottom: 30px;
    font-family: "Rufina", serif;
    font-size: 15px;
    color: #333;
}

.create-account {
    width: 100%;
    display: flex;
    margin-bottom: 7px;
}

.create-account > label {
    line-height: 12px;
    font-family: "Rufina", serif;
    font-size: 15px;
    color: #666;
    margin-left: 15px;
}

.create-account-form {
    display: none;
}

.checkout-form-create-account {
    margin-top: 15px;
}

.checkout-form-create-account > label {
    color: #666;
    font-family: "Rufina", serif;
    display: block;
    font-size: 15px;
}

.checkout-form-create-account > input {
    height: 40px;
    width: 47%;
    border: 1px solid #ddd;
    padding-left: 10px;
    margin-bottom: 30px;
    font-family: "Rufina", serif;
    font-size: 15px;
    color: #333;
}

.order-notes {
    margin: 20px 0 50px 0;
}

.order-notes textarea {
    width: 100%;
    height: 90px;
    padding: 10px 0 0 10px;
    font-family: "Rufina", serif;
    font-size: 15px;
    color: #666;
}

.your-order {
    background-color: #f2f2f2;
    margin-left: 30px;
    padding: 30px 40px 45px;
    width: 47%;
    height: fit-content;
}

.your-order > h3 {
    font-family: "Rufina", serif;
    border-bottom: 1px solid #d8d8d8;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #252525;
}

.your-order-table > table {
    width: 100%;
}

.your-order-table table tr {
    border-bottom: 1px solid #d8d8d8;
}

.your-order-table table th,
.your-order-table table td {
    padding: 15px 0;
    text-align: center;
    color: #333;
    font-family: "Rufina", serif;
    font-size: 14px;
    font-weight: 400;
}

.your-order-table table td span {
    color: #333;
    font-family: "Rufina", serif !important;
    font-size: 14px;
}

.shipping td {
    text-align: left !important;
}

.shipping td form {
    width: 100%;
}

.your-order-table table label {
    color: #333;
    font-family: "Rufina", serif;
    font-size: 14px;
}

.order-total {
    border-bottom: none !important;
}

.order-button-payment {
    margin-top: 40px;
    text-align: center;
}

.order-button-payment > input {
    width: 100%;
    padding: 12px 0;
    text-transform: uppercase;
    background-color: #ec4445;
    color: #fff;
    font-family: "Rufina", serif;
    font-size: 18px;
    transition: 0.3s;
    border: none;
}

.order-button-payment > input:hover {
    background-color: #e61719;
}

/*------------------------------------------cart-------------------------------------*/

.cart-page {
    width: 100%;
}

.table-content {
    border: 1px solid rgba(221, 221, 221, 1);
}

.table-content {
    border-bottom: none;
}

.table-content > table {
    width: 100%;
}

.product-image-td {
    width: 120px;
}

.product-image-td > img {
    width: 100%;
}

.table-content > table th,
.table-content > table td,
.table-content > table td p {
    text-align: center;
    padding: 10px;
    color: #333;
    font-family: "Rufina", serif;
}

.table-content thead {
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.table-content tbody {
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.table-content > table td,
.table-content > table td p {
    font-size: 15px;
}

.product-quantity-td > input {
    width: 40px;
    border: none;
    background-color: #e5e5e5;
    padding: 5px;
}

.product-remove-td > i {
    color: #919191;
}

.cart-main-area {
    margin-bottom: 70px;
}

.product-image-td,
.product-name-td > p {
    cursor: pointer;
    transition: 0.3s;
}

.product-name-td > p:hover {
    color: #f07c29;
}

.buttons-cart {
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid rgba(221, 221, 221, 1);
    display: flex;
    justify-content: space-between;
}

.coupon {
    width: 60%;
}

.coupon > h4 {
    color: #333;
    font-family: "Rufina", serif;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}
.coupon > p {
    color: #333;
    font-family: "Rufina", serif;
    font-size: 16px;
    margin: 10px 0;
}
.coupon input {
    color: #777;
    font-family: "Rufina", serif;
    font-size: 15px;
    margin: 10px 0;
    padding: 7px;
    border: 1px solid #e5e5e5;
}
.coupon a {
    color: #fff;
    font-family: "Rufina", serif;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #252525;
    margin-left: 5px;
    padding: 12px;
    text-decoration: none;
    transition: 0.3s;
}

.coupon a:hover {
    background-color: #f07c29;
}

.cart_totals {
    text-align: right;
    width: 40%;
}

.cart_totals > h2 {
    font-family: "Rufina", serif;
    font-size: 35px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(10, 10, 10);
    display: inline-block;
}

.cart_totals table {
    width: 100%;
}

.cart_totals tr th,
.cart_totals tr td {
    padding: 10px 0;
    font-family: "Rufina", serif;
    color: #333;
    font-size: 15px;
}

.cart_totals tr th {
    text-transform: uppercase;
}

.cart_totals form label {
    font-family: "Rufina", serif;
    color: #333;
    font-size: 15px;
}

.cart_totals .amount {
    color: #ec4445;
}

.cart_totals strong .amount {
    font-family: "Rufina", serif;
    font-size: 20px;
    font-weight: 400;
}

.order-total th {
    font-size: 20px !important;
    font-weight: 400;
}

.wc-proceed-to-checkout {
    margin-top: 40px;
}

.wc-proceed-to-checkout a {
    background-color: #f07c29;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 30px;
    font-family: "Rufina", serif;
    text-decoration: none;
    transition: 0.3s;
}

.wc-proceed-to-checkout a:hover {
    background-color: #333;
}

/*-------------------------------------------product-details------------------------------------*/

.product-details-content {
    display: flex;
}

.product-details-content-body {
    width: 60%;
    margin-left: 40px;
}

.product-tabs {
    display: flex;
    margin-bottom: 25px;
}

.product-tabs > div {
    font-size: 13px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    margin-right: 30px;
    color: #333;
}

.product-tabs > div::before {
    content: "";
    position: absolute;
    background: #f07c29;
    height: 2px;
    transition: all 0.5s;
    width: 100%;
    bottom: -10px;
    opacity: 0;
}

.product-tabs > div:hover::before,
.product-tabs > div.active::before {
    opacity: 1;
    bottom: -2px;
}

.product-details-pro-content > h3 {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 1;
    color: #333;
    font-family: "Rufina", serif;
    margin-bottom: 20px;
}

.product-details-pro-content > p,
.product-details-pro-content i {
    font-size: 16px;
}
